<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section id="footer">
		<div class="container">			
			<div class="row">
				<div class="col-4 col-6-medium col-12-small">
					<section>
						<h3>취미 Top 10</h3>
						<ul class="style2">
							<li th:each="vo : ${hList}"><a th:href="@{/hobby/list(b_id=${vo.b_id})}">[[${vo.b_title}]]</a></li>
						</ul>
					</section>
				</div>
				
				<div class="col-4 col-6-medium col-12-small">
					<section>
						<h3>음악 Top 10</h3>
						<ul class="style2">
							<li th:each="mvo : ${mList}"><a th:href="@{/music/detail(no=${mvo.no})}">[[${mvo.title}]] - [[${mvo.singer}]]</a></li>
						</ul>
					</section>
				</div>
				
				<div class="col-4 col-6-medium col-12-small">
					<section>
						<h3>실시간 뉴스</h3>
						<ul class="style2">
							<li><a href="#">예시3-1</a></li>
							<li><a href="#">예시3-2</a></li>
							<li><a href="#">예시3-3</a></li>
						</ul>
					</section>
				</div>
			</div> 
		</div>
		
		<div id="copyright" class="container">
			<ul class="links">
				<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</section>
</body>
</html>