<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Features -->
	<section id="features">
		<div class="container">
			<header>
				<h3>커피가 취미이신분? <strong>다양한 커피를 즐겨보세요</strong>!</h3>
			</header>
			<div class="row aln-center" style="margin-top: 20px;">
				<div class="col-3 col-6-medium col-12-small" th:each="vo : ${list}">
					<!-- Feature -->
					<section>
						<a href="#" class="image featured"><img th:src="${vo.image_url}" alt="" /></a>
						<header>
							<h4 style="font-weight: bold;">[[${vo.menu_name}]]</h4>
						</header>
						<p>[[${vo.category_name}]]</p>
					</section>
				</div>
			</div>
		</div>
	</section>

	<!-- Banner -->
	<section id="banner">
		<div class="container">
			<p>Use this space for <strong>profound thoughts</strong>.<br />
			Or an enormous ad. Whatever.</p>
		</div>
	</section>
</body>
</html>