<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="main">
		<div class="container">
			<div class="row aln-center">
				<table class="table">
		          	<tr>
		            	<td width="30%" class="text-center" rowspan="9">
		              		<img th:src="${vo.poster}" style="width: 300px; height: 250px;">
		            	</td>
		            	<td colspan="2">
		              		<h3>[[${vo.title}]]&nbsp;<span>[[${vo.rank}]]</span></h3>
		            	</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">주소</th>
		            	<td width="60%" class="text-left">[[${vo.address}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">전화</th>
		            	<td width="60%" class="text-left">[[${vo.phone}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">음식종류</th>
		            	<td width="60%" class="text-left">[[${vo.type}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">가격대</th>
		            	<td width="60%" class="text-left">[[${vo.price}]]</td>
		          	</tr>
		          	<tr>
		            	<th width="10%">영업시간</th>
		            	<td width="60%" class="text-left">[[${vo.time}]]</td>
		          	</tr>
		          	<tr>
			            <th width="10%">주차</th>
			            <td width="60%" class="text-left">[[${vo.parking}]]</td>
					</tr>
		          	<tr>
		            	<th width="10%">테마</th>
		            	<td width="60%" class="text-left">[[${vo.theme}]]</td>
		          	</tr>
		          	<tr>
		          		<th width="10%">좋아요</th>
		          		<td width="60%" class="text-left">
		          			<img src="/images/likeon.png" style="width: 20px; height: 20px; display: inline-block;">([[${vo.hit}]])
		          		</td>
		          	</tr>
				</table>
				<table class="table">
					<tr>
						<td>[[${vo.content}]]</td>
				    </tr>
				    <tr>
						<td class="text-right">
							<a href="#" class="btn btn-xs btn-primary">찜하기</a>
							<a href="#" class="btn btn-xs btn-info">예약하기</a>
							<a href="javascript:history.back()" class="btn btn-xs btn-warning">목록</a>
						</td>
				    </tr>
				</table>
			</div>
			<!-- 댓글 -->
			<div class="row aln-center" style="margin-top: 0px;">
				<table class="aln-center" th:if="${session.id != null}">
					<tr>
						<td>
							<textarea rows="3" cols="144" style="float: left;"></textarea>
							<button type="button" class="btn-danger" style="margin-left: 2px; width: 105px; height: 102px; float: left;">댓글작성</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>