<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/assets/css/card.css" />
</head>
<body>
	<!-- Main -->
	<section id="main">
		<div class="container">
			<div class="row">
				<!-- Content -->
				<div class="col-md-3" th:each="vo : ${list}">
					<div class="thumbnail">
						<a href="#">
							<img th:src="${vo.b_thumbnail}" style="width: 240px; height: 130px;"/>
							<div class="caption">
								<p>[[${vo.b_title}]]</p>
							</div>
						</a>
					</div>
				</div>
				<div class="row aln-center" style="margin-top: 10px;">
					<ul class="pagination">
					  	<li th:if="${startPage>1}">
					  		<a th:href="@{/hobby/list(page=${startPage-1})}">&laquo;</a>
					  	</li>
					  	<li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:class="${curpage==i ? 'active' : ''}">
					  		<a th:href="@{/hobby/list(page=${i})}">[[${i}]]</a>
					  	</li>
					  	<li th:if="${endPage<totalpage}">
					  		<a th:href="@{/hobby/list(page=${endPage+1})}">&raquo;</a>
					  	</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</body>
</html>